<div *ngIf="product.title" class="card products__display-box" style="width: 15rem;">
  <img *ngIf="product.imageUrl" class="card-img-top / products__image" [src]="product.imageUrl" alt="{{product.title}}">
  <div class="card-block">
    <h4 class="card-title / products__title">{{ product.title }}</h4>
    <p class="card-text / products__price">{{ product.price | currency:'EUR':true }}</p>
  </div>
  <div class="card-footer / products__add-to-cart" *ngIf="showActions && shoppingCart">
      <button
         *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity"
         (click)= "addToCart()"
         class="btn btn-secondary btn-block products__add-to-cart-cta">
         Add to Cart
      </button>
      <ng-template #updateQuantity>
        <product-quantity [product]="product" [shopping-cart]="shoppingCart">
        </product-quantity>
      </ng-template>
  </div>
</div>
