<h1>Shopping Cart</h1>
<ng-container *ngIf="cart$ | async as cart">
  <p>You have {{ cart.totalItemsCount}} items in your shopping cart</p>
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Total Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart.items">
        <td>
          {{  item.product.title }}
        </td>
        <td>
          {{ item.quantity }}
        </td>
        <td>{{ item.totalPrice | currency:'EUR': true}}</td>
      </tr>
    </tbody>
    <tfoot>
      <th></th>
      <th></th>
      <th>{{ cart.totalPrice | currency: 'EUR':true }}</th>
    </tfoot>
  </table>
</ng-container>
