.shopping-cart__quantity {
  width: 230px;
}

.shopping-cart__total-price {
  width: 200px;
}

.shopping-cart__thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-size: cover;
}

.shopping-cart__body {
  margin-bottom: 80px;
}
